<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Travaux</a>
    <div class="navbar-nav mr-auto">
	  <li>
		<a routerLink="addTravaux" class="nav-link">Saisies</a>
	  </li>
    </div>
  </nav><br>
  <div class="container-fluid">
	<div class="alert alert-primary text-center" role="alert">
		Liste travaux
	  </div>
	  <div *ngIf="message" class="alert alert-success" role="alert">
			<strong>{{ message }}</strong>
	  </div>
	<table *ngIf="travaux" datatable [dtOptions]="dtOptions" class="row-border">
		<thead>
			<tr>
				<th>GARE</th>
				<th>CANTON</th>
				<th>REGIME</th>
				<th>DEBUT DEMANDE</th>
				<th>FIN DEMANDE</th>
				<th>PARCOURS DES TRAVAUX</th>
				<th>TYPES DES TRAVAUX</th>
				<th>HEURES ACCORDS</th>
				<th>HEURE FIN TX PREVUE</th>
				<th>FIN REEL</th>
				<th>ETAT</th>
				<th>COMMENTAIRES</th>
				<th>ACTION</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let travail of travaux">
				<td>{{ travail.gare.libelle }}</td>
				<td>{{ travail.canton }}</td>
				<td>{{ travail.regime }}</td>
				<td>{{ travail.demande_debut }}</td>
				<td>{{ travail.demande_fin }}</td>
				<td>{{ travail.parcours }}</td>
				<td>{{ travail.type }}</td>
				<td>{{ travail.heure_debut }}</td>
				<td>{{ travail.heure_fin }}</td>
				<td>{{ travail.fin_reel }}</td>
				<td>{{ travail.etat }}</td>
				<td>{{ travail.commentaire }}</td>
				<td><button class="btn btn-primary" type="button" (click)="openPopup(travail.id)"><i class="bi bi-pencil-fill"></i></button></td>
				<div
				class="modal modal-lg"
				tabindex="-1"
				role="dialog"
				[ngStyle]="{'display':displayStyle}"> 
				<div class="modal-dialog" role="document"> 
					<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title">Modification</h4> 
					</div> 
					<div class="modal-body"> 
						<div class="submit-form">
							<div>
								<label for="canton"><strong>Gare</strong></label>
								<select class="form-select" name="id_gare" [(ngModel)]="travail.gare">
									<option *ngFor="let gare of gares | async">{{ gare.libelle }}</option>
								</select>
								<div class="form-group">
									<label for="canton"><strong>Canton</strong></label>
									<input
									  type="text"
									  class="form-control"
									  id="canton"
									  required
									  [(ngModel)]="currentTravail.canton"
									  name="canton"
									  value="{{ currentTravail.canton }}"
									/>
								</div>
								<div class="form-group">
									<label for="regime"><strong>Regime</strong></label>
									<input
									  type="text"
									  class="form-control"
									  id="regime"
									  required
									  [(ngModel)]="currentTravail.regime"
									  name="regime"
									  value="{{ currentTravail.regime }}"
									/>
								</div>
								<div class="form-group">
								  <label for="title"><strong>Demande début</strong></label>
								  <input
									type="datetime-local"
									class="form-control"
									id="demande_debut"
									required
									[(ngModel)]="currentTravail.demande_debut"
									name="demande_debut"
									value="{{ currentTravail.demande_debut }}"
								  />
								</div>
						  
								<div class="form-group">
								  <label for="demande_fin"><strong>Demande fin</strong></label>
								  <input
									type="datetime-local"
									class="form-control"
									id="demande_fin"
									required
									[(ngModel)]="currentTravail.demande_fin"
									name="demande_fin"
									value="{{ currentTravail.demande_fin }}"
								  />
								</div>
						
								<div class="form-group">
									<label for="parcours"><strong>Parcours</strong></label>
									<input
									  type="text"
									  class="form-control"
									  id="parcours"
									  required
									  [(ngModel)]="currentTravail.parcours"
									  name="parcours"
									  value="{{ currentTravail.parcours }}"
									/>
								</div>
						
								<div class="form-group">
									<label for="type"><strong>Type</strong></label>
									<input
									  type="text"
									  class="form-control"
									  id="type"
									  required
									  [(ngModel)]="currentTravail.type"
									  name="type"
									  value="{{ currentTravail.type }}"
									/>
								</div>
						
								<div class="form-group">
									<label for="heure_debut"><strong>Heure accord</strong></label>
									<input
									  type="datetime-local"
									  class="form-control"
									  id="heure_debut"
									  required
									  [(ngModel)]="currentTravail.heure_debut"
									  name="heure_debut"
									  value="{{ currentTravail.heure_debut }}"
									/>
								  </div>
						
								  <div class="form-group">
									<label for="heure_fin"><strong>Heure fin TX prévue</strong></label>
									<input
									  type="datetime-local"
									  class="form-control"
									  id="heure_fin"
									  required
									  [(ngModel)]="currentTravail.heure_fin"
									  name="heure_fin"
									  value="{{ currentTravail.heure_fin }}"
									/>
								  </div>
						
								<div class="form-group">
									<label for="fin_reel"><strong>Fin réel</strong></label>
									<input
									  type="datetime-local"
									  class="form-control"
									  id="fin_reel"
									  required
									  [(ngModel)]="currentTravail.fin_reel"
									  name="fin_reel"
									  value="{{ currentTravail.fin_reel }}"
									/>
								  </div>
						
								<div class="form-group">
									<label for="etat"><strong>Etat</strong></label>
									<input
									  type="text"
									  class="form-control"
									  id="etat"
									  required
									  [(ngModel)]="currentTravail.etat"
									  name="etat"
									  value="{{ currentTravail.etat }}"
									/>
								</div>
								
								<div class="form-group">
									<label for="commentaire"><strong>Commentaires</strong></label>
									<input
									  type="text"
									  class="form-control"
									  id="commentaire"
									  required
									  [(ngModel)]="currentTravail.commentaire"
									  name="commentaire"
									  value="{{ currentTravail.commentaire }}"
									/>
								</div>
								<input type="hidden" name="id" value="{{ travail.id }}" />
							</div>
						</div>
					</div> 
					<div class="modal-footer">
						<button (click)="updateTravaux()" class="btn btn-success">Modifier</button>
						<button type="button" class="btn btn-danger" (click)="closePopup()">Fermer</button>
					</div> 
					</div> 
				</div> 
				</div>
			</tr>
		</tbody>
	</table>
</div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>