<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Travaux</a>
    <div class="navbar-nav mr-auto">
	  <li>
		<a routerLink="addTravaux" class="nav-link">Saisies</a>
	  </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container-fluid">
	<div class="alert alert-primary text-center" role="alert">
		Journée travaux du 09/10/2023
	  </div>
	<table *ngIf="travaux" datatable [dtOptions]="dtOptions" class="row-border">
		<thead>
			<tr>
				<th>GARE</th>
				<th>CANTON</th>
				<th>REGIME</th>
				<th>DEBUT DEMANDE</th>
				<th>FIN DEMANDE</th>
				<th>PARCOURS DES TRAVAUX</th>
				<th>TYPES DES TRAVAUX</th>
				<th>HEURES ACCORDS</th>
				<th>HEURE FIN TX PREVUE</th>
				<th>FIN REEL</th>
				<th>ETAT</th>
				<th>COMMENTAIRES</th>
				<th>ACTION</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let travail of travaux">
				<td>{{ travail.gare.libelle }}</td>
				<td>{{ travail.canton }}</td>
				<td>{{ travail.regime }}</td>
				<td>{{ travail.demande_debut }}</td>
				<td>{{ travail.demande_fin }}</td>
				<td>{{ travail.parcours }}</td>
				<td>{{ travail.type }}</td>
				<td>{{ travail.heure_debut }}</td>
				<td>{{ travail.heure_fin }}</td>
				<td>{{ travail.fin_reel }}</td>
				<td>{{ travail.etat }}</td>
				<td>{{ travail.commentaire }}</td>
				<td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTravaux"><i class="bi bi-pencil-fill"></i></button></td>

				<!-- Modal pour l'update des données travaux -->
				<div class="modal fade" id="modalTravaux" tabindex="-1" aria-labelledby="modalTravauxLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						  </div>
						  <div class="modal-body">
							...
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						  </div>
						</div>
					  </div>
				</div>
			</tr>
		</tbody>
	</table>
</div>