<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Travaux</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="addGare" class="nav-link">Gare</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link">Canton</a>
      </li>
	  <li>
		<a routerLink="" class="nav-link">Régime</a>
	  </li>
	  <li>
		<a routerLink="" class="nav-link">Saisies</a>
	  </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
	<div class="alert alert-primary text-center" role="alert">
		Journée travaux du 09/10/2023
	  </div>
	<table datatable class="row-border container">
		<thead>
			<tr>
				<th>GARE</th>
				<th>CANTON</th>
				<th>REGIME</th>
				<th>DEBUT DEMANDE</th>
				<th>FIN DEMANDE</th>
				<th>PARCOURS DES TRAVAUX</th>
				<th>TYPES DES TRAVAUX</th>
				<th>HEURES ACCORDS</th>
				<th>HEURE FIN TX PREVUE</th>
				<th>FIN REEL</th>
				<th>ETAT</th>
				<th>COMMENTAIRES</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			</tr>
			<tr>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			</tr>
			<tr>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			</tr>
			<tr>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			</tr>
			<tr>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			</tr>
			<tr>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			</tr>
		</tbody>
	</table>
</div>