<div>
    <div class="alert alert-secondary" role="alert">
      Formulaire de saisie travaux
    </div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <label for="canton"><strong>Gare</strong></label>
        <select class="form-select" name="id_gare" [(ngModel)]="travaux.gare">
            <option *ngFor="let gare of gares | async" [ngValue]="gare">{{ gare.libelle }}</option>
        </select>
    
        <div class="form-group">
            <label for="canton"><strong>Canton</strong></label>
            <input
              type="text"
              class="form-control"
              id="canton"
              required
              [(ngModel)]="travaux.canton"
              name="canton"
            />
        </div>
        <div class="form-group">
            <label for="regime"><strong>Regime</strong></label>
            <input
              type="text"
              class="form-control"
              id="regime"
              required
              [(ngModel)]="travaux.regime"
              name="regime"
            />
        </div>
        <div class="form-group">
          <label for="title"><strong>Demande début</strong></label>
          <input
            type="datetime-local"
            class="form-control"
            id="demande_debut"
            required
            [(ngModel)]="travaux.demande_debut"
            name="demande_debut"
          />
        </div>
  
        <div class="form-group">
          <label for="demande_fin"><strong>Demande fin</strong></label>
          <input
            type="datetime-local"
            class="form-control"
            id="demande_fin"
            required
            [(ngModel)]="travaux.demande_fin"
            name="demande_fin"
          />
        </div>

        <div class="form-group">
            <label for="parcours"><strong>Parcours</strong></label>
            <input
              type="text"
              class="form-control"
              id="parcours"
              required
              [(ngModel)]="travaux.parcours"
              name="parcours"
            />
        </div>

        <div class="form-group">
            <label for="type"><strong>Type</strong></label>
            <input
              type="text"
              class="form-control"
              id="type"
              required
              [(ngModel)]="travaux.type"
              name="type"
            />
        </div>

        <div class="form-group">
            <label for="heure_debut"><strong>Heure accord</strong></label>
            <input
              type="datetime-local"
              class="form-control"
              id="heure_debut"
              required
              [(ngModel)]="travaux.heure_debut"
              name="heure_debut"
            />
          </div>

          <div class="form-group">
            <label for="heure_fin"><strong>Heure fin TX prévue</strong></label>
            <input
              type="datetime-local"
              class="form-control"
              id="heure_fin"
              required
              [(ngModel)]="travaux.heure_fin"
              name="heure_fin"
            />
          </div>

        <div class="form-group">
            <label for="fin_reel"><strong>Fin réel</strong></label>
            <input
              type="datetime-local"
              class="form-control"
              id="fin_reel"
              required
              [(ngModel)]="travaux.fin_reel"
              name="fin_reel"
            />
          </div>

        <div class="form-group">
            <label for="etat"><strong>Etat</strong></label>
            <input
              type="text"
              class="form-control"
              id="etat"
              required
              [(ngModel)]="travaux.etat"
              name="etat"
            />
        </div>
        
        <div class="form-group">
            <label for="commentaire"><strong>Commentaires</strong></label>
            <input
              type="text"
              class="form-control"
              id="commentaire"
              required
              [(ngModel)]="travaux.commentaire"
              name="commentaire"
            />
        </div><br>
  
        <button (click)="saveTravaux()" class="btn btn-success">Enregistrer</button>
      </div><br>
  
      <div *ngIf="submitted">
        <h4>La saisie a été bien ajouté</h4>
        <button class="btn btn-success" (click)="newTravaux()">Ajouter</button>
      </div><br>
    </div>
  </div>